.fondo {
    background-color: #2a2a2a;
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.linkedin,
.twitter,
.facebook {
    color: white;
    font-size: 35px;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 4px solid transparent;
    padding-right: 30px;
}

.footer-info>h1 {
    font-size: 35px;
}

.footer-info,
.footer-contact,
.design-by,
.texto {
    color: white;
}

.sns-links {
    padding-top: 20px;
}