.contenedor-slider{
    background-color: #2a2a2a;
}

.contenedor-principal {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.contenedor-item {
    width: 300px;
    border-radius: 15px;
    box-shadow: -1rem 0 3rem #2a2a2a;
    background-color: rgb(13, 13, 13);
}

a {
    text-decoration: none
}

.titulo-proyecto,
.subtitulo-proyecto,
.parrafo-proyecto {
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.titulo-proyecto {
    padding-top: 50px;
    padding-bottom: 50px;
}

.imagen {
    width: 300px;
}